h1{

    color:rgb(84, 198, 220);
    text-align: center;
    text-transform:uppercase;
}
h3{
    text-align: center;
}
input[type="submit"]{

    color:white;
     background-color: rgb(84, 198, 220) ;
     border: rgb(84, 198, 220) solid thin;
     border-radius: 15px;
}
input[type="submit"]:hover{


    box-shadow:0 0 0 2px rgb(84, 198, 220) ;
    
    
    }

    main{
        display: grid;
        grid-template-columns:  1fr 2fr;
        grid-template-rows:1;
    }
    main > form{

      display:inline-grid;
      grid-auto-flow: row;
      align-self: center;
      justify-self: center;

    }
    main >p{

        display: inline-grid;
        grid-template-columns: repeat(4,1fr);
        grid-auto-rows:1fr;
        overflow-y: scroll;
        height: 60vh;
    }
    p > img{

   width: 15vw;
   height: 15vw;


    }
    p >img:hover{


        border: rgb(84, 198, 220) solid thin;
    }